<!DOCTYPE html>
<html lang="en-us" class="@ViewData["Page class"]">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] :: Nick Bergquist</title>

    @RenderSection("CssHead", required: false)

    <environment names="Development">
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/main.gz.min.css" asp-append-version="true" />
    </environment>

    @Html.Partial("_Favicons")
</head>
<body>
    <a class="skip off-screen" href="#main">Skip to content</a>
    <header>
        <div class="content-restrict">
            <div class="logo-site">
                <a asp-area="" asp-controller="Home" asp-action="Index">Nick Bergquist</a>
                <p>Front-end developer</p>
            </div>
        </div>
        <nav id="nav-site">
            <ul>
                <li is-active-route asp-controller="Home" class="anchor-home">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li is-active-route asp-controller="About" class="anchor-about">
                    <a asp-controller="About" asp-action="Index">About</a>
                </li>
                <li is-active-route asp-controller="Work" class="anchor-work">
                    <a asp-controller="Work" asp-action="Index">Work</a>
                </li>
                <li is-active-route asp-controller="Code" class="anchor-code">
                    <a asp-controller="Code" asp-action="Index">Code</a>
                </li>
                <li is-active-route asp-controller="Contact" class="anchor-contact">
                    <a asp-controller="Contact" asp-action="Index">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <main id="main" class="main">
        @RenderBody()
    </main>
    <footer>
        <div class="content-restrict">
            <p>&copy; 2016 - @DateTime.Now.Year nab</p>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>

        @* contains enquire.js for Javascript media-queries and window.matchMedia() patch for older browsers (IE9 etc.) *@
        <script src="~/js/static.gz.min.js"></script>

        @* main site script *@
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        
        @* main site script concatenated with static scripts *@
        <script src="~/js/site.gz.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("ScriptsBody", required: false)
</body>
</html>
