@{
    ViewData["Title"] = "Work";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<p>Examples of online work some of which I collaborated and/or contributed and others were sole productions. Some are still with us and others not.</p>

<ul>
    <li>
        <a href="@Url.RouteUrl(RouteNames.LibertedExpression, null)">Liberté d'Expression</a>
    </li>
    <li>
        <a href="@Url.RouteUrl(RouteNames.CorpTools, null)">Corporate tools</a>
    </li>
    <li>
        <a href="@Url.RouteUrl(RouteNames.DmKcs, null)">Datamonitor Knowledge Centres</a>
    </li>
    <li>
        <a href="@Url.RouteUrl(RouteNames.DmKcProto, null)">Datamonitor Knowledge Centre prototype</a>
    </li>
    <li>
        <a href="@Url.RouteUrl(RouteNames.Marketline, null)">MarketLine Advantage</a>
    </li>
    <li>
        <a href="@Url.RouteUrl(RouteNames.ThePod, null)">The Pod</a>
    </li>
    <li>
        <a href="@Url.RouteUrl(RouteNames.Tpm, null)">Tesco Property Market</a>
    </li>
    <li>
        <a href="@Url.RouteUrl(RouteNames.RailEurope, null)">Rail Europe</a>
    </li>
    <li>
        <a href="@Url.RouteUrl(RouteNames.TelegraphSubs, null)">Daily Telegraph Subscriptions</a>
    </li>
    <li>
        <a href="@Url.RouteUrl(RouteNames.LmAdmin, null)">London Freemasonry Administration</a>
    </li>
    <li>
        <a href="@Url.RouteUrl(RouteNames.Nthc, null)">Nottingham Transport Heritage Centre</a>
    </li>
    <li>
        <a href="@Url.RouteUrl(RouteNames.GcrRst, null)">GCR Rolling Stock Trust</a>
    </li>
</ul>