@{
    ViewData["Title"] = "Work";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<p>Examples of online work some of which I collaborated and/or contributed and others were sole productions. Some are still with us and others not.</p>

<ul class="gallery">
    <li>
        <figure tabindex="0">
            <a href="@Url.RouteUrl(RouteNames.LibertedExpression, null)">
                <img src="~/images/portfolio-screenshots/lde_thumb.jpg" alt="Liberté d'Expression" />
            </a>
            <figcaption>
                <h2>Liberté d'Expression</h2>
                <p>The underground world of art and design</p>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure tabindex="0">
            <a href="@Url.RouteUrl(RouteNames.CorpTools, null)">
                <img src="~/images/portfolio-screenshots/informa_tools_thumb.jpg" alt="In-house corporate tools" />
            </a>
            <figcaption>
                <h2>In-house corporate tools</h2>
                <p>A multitude of internal business tools</p>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure tabindex="0">
            <a href="@Url.RouteUrl(RouteNames.DmKcs, null)">
                <img src="~/images/portfolio-screenshots/dm_kcs_thumb.jpg" alt="Datamonitor Knowledge Centres" />
            </a>
            <figcaption>
                <h2>Datamonitor Knowledge Centres</h2>
                <p>Final fully responsive implementation</p>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure tabindex="0">
            <a href="@Url.RouteUrl(RouteNames.DmKcProto, null)">
                <img src="~/images/portfolio-screenshots/dm_kc_proto_thumb.jpg" alt="Datamonitor Knowledge Centre prototype" />
            </a>
            <figcaption>
                <h2>Datamonitor Knowledge Centre prototype</h2>
                <p>Early fully responsive redesign of existing site</p>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure tabindex="0">
            <a href="@Url.RouteUrl(RouteNames.Marketline, null)">
                <img src="~/images/portfolio-screenshots/marketline_thumb.jpg" alt="MarketLine Advantage" />
            </a>
            <figcaption>
                <h2>MarketLine Advantage</h2>
                <p>Early fully responsive redesign of existing site</p>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure tabindex="0">
            <a href="@Url.RouteUrl(RouteNames.ThePod, null)">
                <img src="~/images/portfolio-screenshots/thepod_thumb.jpg" alt="The Pod" />
            </a>
            <figcaption>
                <h2>The Pod</h2>
                <p>First version of this half HTML, half Flash site</p>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure tabindex="0">
            <a href="@Url.RouteUrl(RouteNames.Tpm, null)">
                <img src="~/images/portfolio-screenshots/tpm_thumb.jpg" alt="Tesco Property Market" />
            </a>
            <figcaption>
                <h2>Tesco Property Market</h2>
                <p>Groundbreaking online estate startup bought by Tesco</p>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure tabindex="0">
            <a href="@Url.RouteUrl(RouteNames.RailEurope, null)">
                <img src="~/images/portfolio-screenshots/contract_01_thumb.jpg" alt="Rail Europe" />
            </a>
            <figcaption>
                <h2>Rail Europe</h2>
                <p>Redesigned pages for existing site</p>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure tabindex="0">
            <a href="@Url.RouteUrl(RouteNames.TelegraphSubs, null)">
                <img src="~/images/portfolio-screenshots/dt_subs_thumb.jpg" alt="Daily Telegraph Subscriptions" />
            </a>
            <figcaption>
                <h2>Daily Telegraph Subscriptions</h2>
                <p>Prototype subscriptions website</p>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure tabindex="0">
            <a href="@Url.RouteUrl(RouteNames.LmAdmin, null)">
                <img src="~/images/portfolio-screenshots/lm_admin_thumb.jpg" alt="London Freemasonry Administration" />
            </a>
            <figcaption>
                <h2>London Freemasonry Administration</h2>
                <p>Prototype subscriptions website</p>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure tabindex="0">
            <a href="@Url.RouteUrl(RouteNames.Nthc, null)">
                <img src="~/images/portfolio-screenshots/nthc_thumb.jpg" alt="Nottingham Transport Heritage Centre" />
            </a>
            <figcaption>
                <h2>Nottingham Transport Heritage Centre</h2>
                <p>Early semi-responsive site with custom CMS</p>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure tabindex="0">
            <a href="@Url.RouteUrl(RouteNames.GcrRst, null)">
                <img src="~/images/portfolio-screenshots/gcr_rst_thumb.jpg" alt="GCR Rolling Stock Trust" />
            </a>
            <figcaption>
                <h2>GCR Rolling Stock Trust</h2>
                <p>Early semi-responsive site with custom CMS</p>
            </figcaption>
        </figure>
    </li>
</ul>